table {
    border-radius: 5px;
    border-spacing: 0px;
}

thead, tfoot {
	border: 1px solid black;
	background-color: gray;
}

td {
    border: 1px solid darkgray;
}

tbody {	
background-color: lightgray;

}
#pagesize {
	padding-left: 15px;
}

#results {
	float: right;
}
