li ol{
	padding-left: 15px;
}

li {
    padding-left: 15px;
}

ul.circle{
	list-style-type: circle;
    padding-left: 45px;
}

ul.square {
	list-style-type: square;
    padding-left: 45px;
}

ul.disc {
    padding-left: 10px;
}
