body {
    font-family: georgia;
}

fieldset {
        border-color: black;
        border-style: 1px solid;
}

img {
    width: 120px;
}

a {
    font-size: 18px;
    color: #0CB1F1;
    display: inline-block;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
}

#maintable {
    border: 1px solid black;
    border-radius: 5px;
}

#notebookstable {
    border: 1px solid black;
}

#brands {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}

#sliderTable td {
    padding-top: 25px;
}
