table {
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    border: 1px solid black;
    width: 70px;

}

tr:last-child {
    background: #D1EDE1;
    text-align: center;
}

tr td:first-child {
    text-align: right;
}

textarea {
    resize: none;
}

input {
	margin: 4px;	
}

.minWidth {
    width: 36px;
}

.maxWidth {
    width: 90%;
}

#statelabel {
    text-align: center;
    width: 10%;
}

#state {
    display: inline-block;
    float: right;
    width: 60px;
}

#city {
    width: 200px;
}

#submit {
	text-align: center;
}
