table {
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    border: 1px solid black;
    width: 100px;
}

tr:last-child {
    background: lightgreen;
    text-align: center;
}


textarea {
	resize: none;
}

.minWidth {
	width: 40px;
}

.maxWidth {
	width: 90%;
}